version: '3.8'

services:
  etl:
    build:
      context: .
      dockerfile: docker/Dockerfile.etl
    env_file:
      - app/.env
    restart: unless-stopped

  dashboard:
    build:
      context: .
      dockerfile: docker/Dockerfile.dashboard
    env_file:
      - app/.env
    ports:
      - "8501:8501"
    restart: unless-stopped
